---
import FrontPageLayout from "../layouts/FPLayout.astro";
import Phone from "../components/MobilePhone.astro";
import Email from "../components/Email.astro";
import { Image } from "astro:assets";
import fpcard1 from "../images/Service.jpg";
import fpcard2 from "../images/Repairs.jpg";
import fpcard3 from "../images/Wheel.jpg";

const title =
  "On-Track Auto | Mobile Mechanic | Servicing Bundoora and Surrounds";
const description =
  "Experienced mobile mechanic servicing Bundoora and surrounds, call and book today!";
---

<FrontPageLayout title={title} description={description}>
  <div class="container">
    <div class="main">
      <article>
        <p>
          At On-Track Auto, as a mobile mechanic we are redefining your
          experience with servicing and vehicle repairs. Whether it’s at your
          house, your work, or on the side of the road, we come to you!
        </p>
        <p>
          We take away the hassle of having to take your vehicle to a workshop,
          organising a lift home, and then potentially having to wait days to
          get your vehicle back. We offer fast, prompt service at competitive
          prices to get you back on the road as fast as possible.
        </p>
        <h3>Your Trusted Mechanic, On Your Schedule</h3>
        <p>
          We understand that your time is valuable. That’s why our qualified,
          experienced mobile mechanics go above and beyond to provide you with
          top-notch service that slots perfectly into your busy schedule.
        </p>
        <p>
          Whether it’s routine maintenance like Logbook servicing or a basic oil
          and filter change with a full safety check over to more in-depth
          diagnostics and repairs. With our fully equipped mobile workshop we
          offer a wide range of services, backed by professionalism, reliability
          and a mobile mechanic you can trust!
        </p>
        <h3>Why Choose On-track Auto?</h3>
        <ul>
          <li>
            Unrivalled convenience with quality service at the right price!
          </li>
          <li>Clear and honest pricing with no hidden costs</li>
          <li>
            Qualified and highly experienced mechanics with a passion for cars
          </li>
          <li>We use trade certified, high-quality parts and/or OE parts</li>
          <li>
            One-on-one direct communication with your mechanic the whole way
            through the job
          </li>
        </ul>

        <h3>Our Commitment to You</h3>
        <p>
          At On-Track Auto, we’re not all bout just fixing cars. We’re about
          building an everlasting relationship with our customers based purely
          on trust, honesty and exceptional workmanship. Our commitment to you
          is getting you back on the road as safely and as efficiently as
          possible, ensuring your vehicle is operating at its best.
        </p>
      </article>
    </div>
  </div>
  <h2 style="text-align:center">Services</h2>

  <!-- New Cards -->
  <section>
    <div class="container">
      <div class="card">
        <div class="card-inner" style="--clr:#fff;">
          <div class="box">
            <div class="imgBox">
              <Image src={fpcard1} alt="Service" />
            </div>
            <div class="icon">
              <a href="/services/" class="iconBox">
                <span class="material-symbols-outlined">
                  arrow_outward
                </span></a
              >
            </div>
          </div>
        </div>
        <div class="content">
          <h3>Servicing</h3>
          <p>Carry out Basic or Logbook Servicing.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-inner" style="--clr:#fff;">
          <div class="box">
            <div class="imgBox">
              <Image src={fpcard2} alt="Repairs" />
            </div>
            <div class="icon">
              <a href="/services/" class="iconBox">
                <span class="material-symbols-outlined">
                  arrow_outward
                </span></a
              >
            </div>
          </div>
        </div>
        <div class="content">
          <h3>Repairs</h3>
          <p>
            We carry out a range of car repairs from a no start to leaks and
            also suspension work.
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-inner" style="--clr:#fff;">
          <div class="box">
            <div class="imgBox">
              <Image src={fpcard3} alt="Maintenance" />
            </div>
            <div class="icon">
              <a href="/services/" class="iconBox">
                <span class="material-symbols-outlined">
                  arrow_outward
                </span></a
              >
            </div>
          </div>
        </div>
        <div class="content">
          <h3>Battery or Brake Replacement</h3>
          <p>
            Test and replace your battery. Check and replace your brakes or
            brake fluid.
          </p>
        </div>
      </div>
    </div>
  </section>

  <style lang="scss">
    // New SCSS

    a {
      display: inline-block;
      text-decoration: none;
    }

    .container {
      margin-top: 5em;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
      gap: 2rem;
    }

    .card-inner {
      position: relative;
      width: inherit;
      height: 18.75rem;
      background: var(--clr);
      border-radius: 1.25rem;
      border-bottom-right-radius: 0;
      overflow: hidden;

      .box {
        width: 100%;
        height: 100%;
        background: var(--pico-primary-inverse);
        // background: #fff;
        border-radius: 1.25rem;
        overflow: hidden;

        .imgBox {
          position: absolute;
          inset: 0;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .icon {
          position: absolute;
          bottom: -0.375rem;
          right: -0.375rem;
          width: 6rem;
          height: 6rem;
          background: var(--clr);
          border-top-left-radius: 50%;

          &:hover .iconBox {
            transform: scale(1.1);
          }

          &::before {
            position: absolute;
            content: "";
            bottom: 0.375rem;
            left: -1.25rem;
            background: transparent;
            width: 1.25rem;
            height: 1.25rem;
            border-bottom-right-radius: 1.25rem;
            box-shadow: 0.313rem 0.313rem 0 0.313rem #fff;
          }

          &::after {
            position: absolute;
            content: "";
            top: -1.25rem;
            right: 0.375rem;
            background: transparent;
            width: 1.25rem;
            height: 1.25rem;
            border-bottom-right-radius: 1.25rem;
            box-shadow: 0.313rem 0.313rem 0 0.313rem var(--clr);
          }

          .iconBox {
            position: absolute;
            inset: 0.625rem;
            background: var(--pico-primary);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s;

            span {
              // color: #fff;
              color: var(--pico-h1-color);
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  </style>
</FrontPageLayout>
